#body {
 
    background-color: rgb(254, 239, 153);
    
}

.Mycontainer {
    display:flex;
    border: 10px solid rgb(206, 75, 158);
    background-color: pink;
}

.Title {
    font-family: Arial, Helvetica, sans-serif;
    border: 3px solid magenta;
    background-color: whitesmoke;
}

.description {
    font-family: Arial, Helvetica, sans-serif;
    border: 3px solid cyan;
    background-color: whitesmoke;
}

.image{
 border: 3px solid green;
 justify-content: center;
 flex-grow:2;
 background-image: url("/images/Bacon-Fetta\ and\ Zucchini\ Muffins\ .jpeg");
 background-size: cover;
 background-color: whitesmoke;
 width: 300px;
 height: 300px;
 margin:2rem;
 padding:100px;
}

#bigTitle{
   color:rgb(102, 242, 161);
}
#description{
    color:rgb(130, 214, 165);
}

#navbar {
    background-color: blue
}

